{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/datepicker.css" />
<script src="/static/js/datepicker.js"></script>
<script src="/static/js/filtermanage.js"></script>


<div id="savedfilters" align="center" class="container-fluid" >
    <form name="editfilter" id="editfilter" action="/managefilters/editfilter" method="GET">
        <table id="filtercreatetable" border="0">
            <tr>
                <td valign="top" >
                <div class="container-fluid">
                    Saved Filter List<br>
                <select multiple id="current_filters">
                    {{filter_names|safe}}    
                </select><br>
                <button class="btn btn-primary" type="button" onclick="showfilterform();" value="Edit">Edit</button>
                <button class="btn btn-primary" type="button" onclick="deletefilter();" value="Delete"/>Delete</button>
                <div>
                </td>
            </tr>
        </table><br><br>

        <div id="filterform"></div>

{{filter_forms|safe}}    

</div>

</form>
{% endblock %}

